.pokedex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #797777;
    padding-bottom: 50px;
    color: white;
    background-image: url('/bgApp.svg');
    background-size: 10%;
    gap: 2rem;
}

.pokedex__header{
    width: 100%;
    height: 100px;
    background-image: url('/public/headerpokedex.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pokedex__logo{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 300px;
    height: auto;
}

.pokedex__welcome{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: clamp(1em, 3vw, 2em);
    text-align: center;
    background-color: #5756569f;
}

.pokedex__form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex__body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.pokedex__input{
    max-width: 70%;
}

.pokedex__btn{
    max-width: 30%;
}

.pokedex__select{
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 200px;
    background-color: #fff;
    color: #333;
    border-radius: 4px;
}

.pokedex__select:hover {
    border-color: #888;
}

.pokedex__select:focus{
    outline: none;
    border-color: #555;
    box-shadow: 0 0 4px #aaa;
}